<html>
   <head>
      <meta http-equiv=Content-Type content="text/html; charset=utf-8">
      <meta name=Generator content="Microsoft Word 15 (filtered)">
      <style>
         <!--
            /* Font Definitions */
            @font-face
            {font-family:"Cambria Math";
            panose-1:2 4 5 3 5 4 6 3 2 4;}
            @font-face
            {font-family:DengXian;
            panose-1:2 1 6 0 3 1 1 1 1 1;}
            @font-face
            {font-family:Calibri;
            panose-1:2 15 5 2 2 2 4 3 2 4;}
            @font-face
            {font-family:"\@DengXian";
            panose-1:2 1 6 0 3 1 1 1 1 1;}
            /* Style Definitions */
            p.MsoNormal, li.MsoNormal, div.MsoNormal
            {margin-top:0in;
            margin-right:0in;
            margin-bottom:8.0pt;
            margin-left:0in;
            line-height:107%;
            font-size:11.0pt;
            font-family:"Calibri",sans-serif;}
            .MsoChpDefault
            {font-family:"Calibri",sans-serif;}
            .MsoPapDefault
            {margin-bottom:8.0pt;
            line-height:107%;}
            @page WordSection1
            {size:8.5in 11.0in;
            margin:1.0in 1.0in 1.0in 1.0in;}
            div.WordSection1
            {page:WordSection1;}
            -->
      </style>
   </head>
   <body lang=EN-US style='word-wrap:break-word'>
      <div class=WordSection1>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>Terms
            for Practitioners:</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>&nbsp;</span></p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>The
            Practitioner shall promptly reply to the User after receiving User’s
            communication. In case of non-compliance with regard to adhering to the
            applicable laws/rules/regulations/guidelines by the Practitioner, DiaMed
            Healthcare India Private Limited shall have the right to replace such
            Practitioners for the purpose of consultation to the User.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>The
            Practitioner further understands that, there is a responsibility on the
            Practitioner to treat the User, pari passu, as the Practitioner would have
            otherwise treated the User on a physical one-on-one consultation model.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>The
            Practitioner has the discretion to cancel any consultation at any point in time
            in cases where the Practitioner feels, it is beyond his/her expertise or
            his/her capacity to treat the User. In such cases, it may trigger a refund to
            the User and the User has the option of choosing other Practitioners. However,
            it is strongly recommended that the Practitioner advise the User and explain
            appropriately for next steps which may include referring the User for further
            evaluation.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>The
            Practitioner is and shall be duly registered, licensed and qualified to
            practice medicine/ provide health care, wellness services, as per applicable
            laws/regulations/guidelines set out by competent authorities and the Practitioner
            shall not be part of any arrangement which will prohibit him/her from
            practicing medicine within the territory of India. The Practitioner shall at
            all times ensure that all the applicable laws that govern the Practitioner
            shall be followed and utmost care shall be taken in terms of the consultation/
            services being rendered.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>Practitioner
            shall ensure that, the consultation online is treated as an in-clinic
            consultation and provide advice to the best of Practitioners’ knowledge.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>The
            Practitioner hereby agrees to DiaMed Healthcare India Private Limited’s
            medical team carrying out an audit of his/her consultations on the DiaMed
            platform for the purpose of improving treatment quality, user experience, and
            other related processes. The Practitioner acknowledges that the subject matter
            of audit may include their personal information. This personal information will
            be processed in accordance with the Privacy Policy.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>For
            direct consultations on the DiaMed platform, the practitioner shall
            ensure that they respond to User's health concern within a maximum of two (2)
            hours of the Practitioner receiving the message (in exceptional circumstances,
            where the consultation was allocated to a Practitioner without their
            acceptance). However, the time frame for response shall be between 10 am to 8
            pm.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>In
            case, the Practitioner accepts a User’s consultation by their own choice, then
            such Practitioners shall ensure to provide a response within five (5) minutes
            of accepting the said consultation. Also, the response time for a Practitioner
            during an active consultation shall not exceed five (5) minutes.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>In
            case, the Practitioner has marked himself/herself available for a particular
            consultation on the DiaMed platform and in the event a consultation has
            been auto allocated to a Practitioner, then such Practitioners shall ensure to
            provide a response to the User within five (5) minutes of accepting the
            consultation and during the active consultation period.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>Practitioners
            should provide e-prescriptions to the Users only via the prescription module.
            However, when the Practitioner creates an e-prescription, the Practitioner will
            be required to confirm the e-prescription with their electronic signature
            explicitly or implicitly by clicking on the signature option made available or
            any other form of opt-in methods as provided therein. The Practitioner hereby
            agrees and covenants to be responsible and liable for the content of
            e-prescription and the authenticity of his signature signed electronically. In
            addition to any indemnity warranties provided else-where in the Agreement, the
            Practitioner hereby agrees to hold DiaMed Healthcare India Private Limited,
            its officers, employees, agents and affiliates harmless from any claims,
            damages, losses or penalties arising out of any third party claims in
            connection with the validity of the e-prescription, its content and/or
            electronic signature.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>For
            a Practitioner to complete a consult, it is mandatory to provide a consultation
            summary via the e-prescription module to all Users. The recommended contents
            (at least one) of the said consultation summary are as follows:</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>Summary
            of presenting illness</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>Provisional
            diagnosis</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>Medicine
            posology including side effects if any</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>Diagnostics</span></p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>Lifestyle
            changes</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>Other
            instructions if any</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>Referral
            for physical consultation (if necessary)</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>Where
            the Practitioner learns that a physical consultation is mandatory for accurate
            diagnosis and resolution of the case, the Practitioner shall mandatorily be
            required to provide a patient referral for physical evaluation along with
            required information via the prescription module.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>Practitioners
            shall not prescribe, medical termination pregnancy medication, sedatives,
            Hypnotics, opioids, schedule X drugs, on the DiaMed platform. If any such
            drugs are indicated for treatment for a given consultation, the Practitioner
            shall refer the User for a physical consultation.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>In
            the event the Practitioner learns about physical abuse, sexual misconduct
            (especially in minors), or User self-harm (suicide: planned, attempted or
            completed), the Practitioner agrees to report such events to DiaMed
            Healthcare India Private Limited via the email: </span><a
               href="http://www.diamed.app/"><span style='font-size:12.0pt;line-height:
               115%;font-family:"Times New Roman",serif;color:blue'>www.diamed.app</span></a><span
               style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>
            immediately</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>The
            Practitioners agrees not to request see for images or video of the User's
            private body parts in any manner whatsoever until and unless all other options
            have been exhausted to diagnose the User’s condition and it is absolutely
            necessary to arrive at a probable diagnosis.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>If
            Practitioner needs to change the status to 'unavailable', the same could be
            changed after having completed all the open consultations. In case the
            Practitioner leaves a consultation open and changes the status to
            'unavailable', the Practitioner understands that he shall be liable to pay such
            penalty as may be imposed by DiaMed Healthcare India Private Limited, in
            these cases.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>The
            Practitioner is not allowed to use any other platform other than the DiaMed
            Pro platform for the purpose of interacting/communicating with the User and any
            attempt by the Practitioner to interact with the Users through any other
            external means of communication will amount to violation of this Agreement by
            the Practitioner.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>If
            the Practitioner’s performance on the DiaMed platform is not compliant
            with the expected guidelines of DiaMed Healthcare India Private Limitedor
            the Practitioner is found to be misusing the DiaMed platform, the
            Practitioner may result in losing the privilege of using the DiaMed
            feature &amp; platform.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>The
            Practitioner acknowledges that should DiaMed Healthcare India Private
            Limited find the Practitioner to be in violation of any of the applicable
            laws/rules/ regulations/guidelines set out by the authorities then DiaMed
            Healthcare India Private Limited shall be entitled to cancel the consultation
            with such Practitioner or take such other legal action as may be required.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>In
            case of there being any technical failure, at the time of transaction and there
            is a problem in making payment, User may contact DiaMed Healthcare India
            Private Limited's support team via online chat: </span><a
               href="https://www.diamed.app/"><span style='font-size:12.0pt;line-height:
               115%;font-family:"Times New Roman",serif;color:blue'>https://www.diamed.app</span></a><span
               style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>It
            is further understood by the Practitioner that the information that is
            disclosed by the User at the time of consultation is personal information and
            is subject to all applicable privacy laws, shall be confidential in nature and
            subject to User and Practitioner privilege.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>The
            Practitioner understands that DiaMed Healthcare India Private Limited makes
            no promise or guarantee for any uninterrupted communication and the
            Practitioner shall not hold DiaMed Healthcare India Private Limited liable,
            if for any reason the communication is not delivered to the User(s), or are
            delivered late or not accessed, despite the efforts undertaken by DiaMed
            Healthcare India Private Limited</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>The
            Practitioner understands that DiaMed Healthcare India Private Limited makes
            no promise or guarantee for the number of consultations that will be allocated
            to a Practitioner on the DiaMed platform. The consultations allocated to
            a Practitioner will depend upon various factors, which inter-alia includes,
            DiaMed response time, patient feedback and number of practitioners
            available, etc., It is the responsibility of the Practitioner to keep a track
            of their overall performance using the DiaMed application.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>It
            shall be the responsibility of the Practitioner to ensure that the information
            provided by User is accurate and not incomplete and understand that DiaMed
            Healthcare India Private Limited shall not be liable for any errors in the
            information included in any communication between the Practitioner and User.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'><span
            style='font-size:12.0pt;line-height:115%;font-family:"Times New Roman",serif'>The
            Practitioner shall indemnify and hold harmless DiaMed Healthcare India
            Private Limited and its affiliates, subsidiaries, directors, officers,
            employees and agents from and against any and all claims, proceedings,
            penalties, damages, loss, liability, actions, costs and expenses (including but
            not limited to court fees and attorney fees) arising due to the Services
            provided by Practitioner, violation of any law, rules or regulations by the
            Practitioner or due to such other actions, omissions or commissions of the
            Practitioner that gave rise to the claim.</span>
         </p>
         <p class=MsoNormal style='margin-bottom:10.0pt;line-height:115%'>&nbsp;</p>
      </div>
   </body>
</html>
